.intro {
    display: flex;
    align-items: center;
    width: 75%;
    gap: 20px;
}

.intro__text h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0px 0px 20px white;
}

.intro__text p {
    font-size: 30px;
    text-shadow: 0px 0px 20px black;
}

.intro__image {
    width: 40%;
    flex-shrink: 0;
}

.intro__image img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius:50%;
}

